:root {
  /*Color*/
  --white-color: #fcfcfc;
  --black-color: rgb(51, 44, 44);
  --gray-color: #dbdbdb;
  --gray-dark-color: #a8a8a8;
  --gray-light-color: #eeeeee;
  --red-color: #eb615e;
  --yellow-color: #ecbe60;
  --yellow-light-color: #fff7d1;
  --brown-color: #634420;

  /*Size*/
  --padding: 14px;
  --border: 4px;

  /*Font Size*/
  --font-title: 2.125rem; /*34*/
  --font-medium: 1.75rem; /*28*/
  --font-regular: 1.125rem; /*18*/
  --font-small: 1rem; /*16*/
  --font-micro: 0.75rem; /*12*/

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-thin: 300;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --anmation-duration: 300ms;
}

/* Universal tag ----------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  background-color: var(--gray-light-color);
  color: var(--black-color);
  cursor: defualt;
}
a {
  text-decoration: none;
  color: var(--black-color);
  cursor: default;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Typography -----------------------------------------*/
h1 {
  font-size: var(--font-title);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

/* Navbar ----------------------------------------------- */
#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: -80px;
  background-color: var(--white-color);
  padding: calc(var(--padding) * 0.8);
  padding-bottom: 0px;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.navbar__logo {
  font-family: "Do Hyeon", sans-serif;
  display: flex;
  justify-content: center;
  width: 90%;
  border-bottom: solid 2px var(--gray-color);
}

.navbar__logo a {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.navbar__logo .fas {
  font-size: var(--font-medium);
  margin-right: var(--padding);
  color: var(--red-color);
  cursor: pointer;
}

.navbar__logo a:hover {
  transform: scale(1.05);
}

.navbar__login {
  position: absolute;
  width: 80px;
  top: 33px;
  right: 15%;
  margin: auto;
  padding: calc(var(--padding) * 0.2) calc(var(--padding) * 0.7);
  font-size: var(--font-micro);
  background-color: var(--yellow-color);
  font-weight: var(--weight-bold);
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.navbar__login:hover {
  box-shadow: 0px 0px 3px var(--brown-color) inset;
}

.navbar__menu {
  width: 60%;
  display: flex;
  font-size: var(--font-micro);
}

.navbar__menu__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding) * 0.7) calc(var(--padding) * 0.5);
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--white-color);
  transition: all calc(var(--anmation-duration) * 0.5) ease;
}

.navbar__menu .icon {
  margin-right: calc(var(--padding) * 0.5);
}

.navbar__menu__item:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  text-shadow: 0px 1px var(--black-color), 0px -1px var(--black-color),
    1px 0px var(--black-color), -1px 0px var(--black-color);
}
/* Section Setting ----------------------------------------------*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: calc(var(--padding));
}

/* Main Visual title ----------------------------------------------*/
.visual__container {
  width: 100vw;
  height: 7vh;
  min-height: 50px;
  display: flex;
  justify-content: center;
  margin: calc(var(--padding) * 2) 0;
  background: center/cover no-repeat url(img/title_bg.png);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.visual__title {
  font-family: "Poor Story", cursive;
  margin: auto;
  color: var(--white-color);
}

/*login --------------------------------------------------------------*/
#login {
  width: 50%;
  height: 500px;
  background: var(--white-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 350px;
  margin-top: 7%;
}

.login_logo {
  color: var(--red-color);
}

.login__idpw {
  margin-top: 20px;
  width: 80%;
}

.login__idpw h4 {
  margin: 0;
}

.login__idpw .input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid var(--gray-color);
}

.login__remember {
  padding: 10px;
  width: 80%;
  font-size: var(--font-micro);
}

.login__submit {
  margin-top: 30px;
  width: 80%;
}
.login__submit button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to left, var(--red-color), var(--yellow-color));
  color: var(--white-color);
  font-size: var(--font-regular);
  letter-spacing: 5px;
  font-weight: var(--weight-bold);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    --font-title: 1.75rem;
    --font-medium: 1.5rem;
  }

  .navbar__login {
    transform: translate(50px, -5px);
  }
}
